{% load crispy_forms_tags %}
{% load static %}
{{ form.media }}

<form method="post" action="{% url 'cv_language_edit' form.instance.pk %}" class="js-language-edit-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Edit language</h4>
  </div>
  <div class="modal-body">
    {% include 'online_cv/includes/languages/partial_language_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="id_close">Close</button>
    <button type="submit" class="btn btn-secondary" id="id_confirm_language">Update language</button>
  </div>
</form>