{% extends 'blog/base.html' %}

{% block title %}
  George's Blog - Add a new category
{% endblock %}

{% block content %}
</br>
<div class="content container">
	<div class="row">           
		<div class="col-md-8">  
			{% if perms.post.manage_posts %}
			<h2>New Category</h2>
			<div class="form-group">
				<form method="POST" class="post-form">{% csrf_token %}
					<input type="text" class="form-control" name="name" maxlength="255" required="" id="id_name" placeholder="Category Name">
				</br>
					<button id="save_post" type="submit" class="btn btn-secondary" >Add Category</button>
				</form>
			</div>
			{% else %}
			You are not allowed to do this action!
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}