{% load static %}
<html>
    <head>
        <title>George Kirkman's Blog</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet"> <!--type="text/css"-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                {% if request.user.is_staff %}
                    <a href= "{% url 'post_new' %}" class="top-menu" id="post_new_button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href= "{% url 'post_draft_list' %}" class = "top-menu" id="post_drafts_button"><span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{%url 'login' %}" class="top-menu" id="login_button"><span class="fa fa-sign-in"></span></a>
                <a href="{%url 'signup' %}" class="top-menu" id="signup_button"><span class="fa fa-user-plus"></span></a>
            {% endif %}
            <h1><a href="/">George's Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">           
                <div class="col-md-8">  
                    {% block content %} <!-- where the old for loop used to be in post_list.html -->
                    {% endblock %}      <!-- this is where we can inject blocks of html code from other files!-->
                </div>
            </div>
        </div>
    </body>
</html>