{% extends 'blog/base.html' %}

{% block content %}  
<div class="content container">
  <div class="row">           
    <div class="col-md-8">  
    {% if category_posts %}
      <h1>{{ category }} Posts</h1>
      {% for post in category_posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="date">
              <small>published: {{ post.published_date }}</small>
          </div> 
            <p>{{ post.text|slice:":200"|safe }}...</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            <hr>
        </div>
      {% endfor %}
    {% else %}
      <h2>Sorry, there are currently no blog posts in this category.</h2>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}