{% extends 'blog/base.html' %}

{% block title %}
  George's Blog: Invalid Author
{% endblock %}

{% block content %}
</br>
<div class="content container">
  <div class="row">           
    <div class="col-md-8">  
      <h3>You are not the author of this post!</h3>
      <p>This post belongs to {{ post.author.first_name }} {{ post.author.last_name }} (username: {{ post.author }}).</p>
      <p>Click <a href="/">here</a> to return to the homepage, or <a href="{% url 'logout' %}">log out</a> and try again with the correct account.</p>
    </div>
  </div>
</div>
{% endblock %}