{% load crispy_forms_tags %}
{% load static %}
{{ form.media }}

<div class="form-row form-row">
  <div class="form-group col-md-5 mb-0">
    {{ form.school|as_crispy_field }}
  </div>
  <div class="form-group col-md-5 mb-0">
    {{ form.location|as_crispy_field }}
  </div>
</div>
<div class="form-row form-row">
  <div class="form-group col-md-5 mb-0">
    {{ form.level_of_study|as_crispy_field}}
  </div>
  <div class="form-group col-md-3 mb-0">
    {{ form.start_date|as_crispy_field }}
  </div>
  <div class="form-group col-md-3 mb-0">
    {{ form.end_date|as_crispy_field }}
  </div>
</div>
<div class="form-row form-row">
  <div class="form-group col-md-5 mb-0">
    {{ form.subject|as_crispy_field }}
  </div>
  <div class="form-group col-md-2 mb-0">
    {{ form.grade|as_crispy_field }}
  </div>
</div>