{% load crispy_forms_tags %}
{% load static %}
{{ form.media }}

<form method="post" action="{% url 'cv_education_edit' form.instance.pk %}" class="js-education-edit-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Edit education</h4>
  </div>
  <div class="modal-body">
    {% include 'online_cv/includes/educations/partial_education_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="id_close">Close</button>
    <button type="submit" class="btn btn-secondary" id="id_confirm_education">Update education</button>
  </div>
</form>