{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'cv_personal_details' %}">Personal Details</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_profile' %}">Profile</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_education' %}">Education</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_jobs' %}">Employment History</a></li>
    <li class="breadcrumb-item active"><span class="bg-secondary rounded text-light">&nbsp;Extras&nbsp;</span></li>
    <li class="breadcrumb-item active">Skills</li>
    <li class="breadcrumb-item active">Interests</li>
    <li class="breadcrumb-item active">Languages</li>
    <li class="breadcrumb-item active">Certifications</li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_preview' %}">Preview</a></li>
    <li class="breadcrumb-item active">Done!</li>
  </ol>
</nav>

<div class="content container">
  <h1>CV Builder</h1>
  <h4>Additional details</h4>
  {{ form.media }}
  {% crispy form %}
</div>
{% endblock %}