{% extends 'blog/base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'online_cv/js/interests.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content container">
  <h1>CV Builder</h1>
  <h4>View your current interests or add a new one</h4>
  <table class="table" id="interest-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Interest</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% include 'online_cv/includes/interests/partial_interests_list.html' %}
    </tbody>
  </table>

  <p>
    <button type="button" class="btn btn-secondary js-create-interest"
    data-url="{% url 'cv_interest_create' %}" id="id_add_interest">
      <i class="fas fa-plus"></i> Add a new Interest
    </button>
    <a href="{% url 'cv_extras' %}" class="btn btn-secondary" style="float:right;" id="id_next">Next</button></a>
  </p>

  <div class="modal fade" id="modal-interest">
    <div class="modal-dialog">
      <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}