{% extends 'blog/base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'online_cv/js/interests.js' %}"></script>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'cv_personal_details' %}">Personal Details</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_profile' %}">Profile</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_education' %}">Education</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_jobs' %}">Employment History</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_extras_edit' %}">Extras</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_skills' %}">Skills</a></li>
    <li class="breadcrumb-item active"><span class="bg-secondary rounded text-light">&nbsp;Interests&nbsp;</span></li>
    <li class="breadcrumb-item active">Languages</li>
    <li class="breadcrumb-item active">Certifications</li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_preview' %}">Preview</a></li>
    <li class="breadcrumb-item active">Done!</li>
  </ol>
</nav>

<div class="content container">
  <h1>CV Builder</h1>
  <h4>View your current interests or add a new one</h4>
  <table class="table" id="interest-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Interest</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% include 'online_cv/includes/interests/partial_interests_list.html' %}
    </tbody>
  </table>

  <p>
    <button type="button" class="btn btn-secondary js-create-interest"
    data-url="{% url 'cv_interest_create' %}" id="id_add_interest">
      <i class="fas fa-plus"></i> Add a new Interest
    </button>
    <a href="{% url 'cv_interests_next' %}" class="btn btn-secondary" style="float:right;" id="id_next">Next</button></a>
  </p>

  <div class="modal fade" id="modal-interest">
    <div class="modal-dialog">
      <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}