{% extends 'blog/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'cv_personal_details' %}">Personal Details</a></li>
    <li class="breadcrumb-item active"><span class="bg-secondary rounded text-light">&nbsp;Profile&nbsp;</span></li>
    <li class="breadcrumb-item active">Education</li>
    <li class="breadcrumb-item active">Employment History</li>
    <li class="breadcrumb-item active">Extras</li>
    <li class="breadcrumb-item active">Skills</li>
    <li class="breadcrumb-item active">Interests</li>
    <li class="breadcrumb-item active">Languages</li>
    <li class="breadcrumb-item active">Certifications</li>
    <li class="breadcrumb-item active"><a href="{% url 'cv_preview' %}">Preview</a></li>
    <li class="breadcrumb-item active">Done!</li>
  </ol>
</nav>

<div class="content container">
  <h1>CV Builder</h1>
  <h4>Profile</h4>
  <div class="form-group">
    <form method="POST" class="post-form">{% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <button id="profile_next" type="submit" class="btn btn-secondary">Next</button>
    </form>
  </div>
</div>
{% endblock %}